<h1>Edit __modelName__</h1>
<form action="/__crudName__/__crudName__/{{__modelName__.id}}?_method=put" method="post">
  <label for="name">Name: </label>
  <input id="name" name="var_name[name]" value="{{__modelName__.name}}" />
  <input type="submit" value="Update" />
</form>