<h1>New __modelName__</h1>
<form action="/__crudName__/{{var_name.id}}" method="post">
  <label for="name">Name: </label>
  <input id="name" name="var_name[name]" value="{{var_name.name}}" />
  <input type="submit" value="Update" />
</form>