<!-- Main content -->
<section class="content">
    <!-- React app -->
    <div id="app"></div>

</section><!-- /.content -->
{{#extend 'scripts'}}
  <!-- jQuery UI 1.11.4 -->
  <script src="/admin/bundle.js"></script>
{{/extend}}