<h1>New crud_user</h1>
<form action="/crud-user/{{var_name.id}}" method="post">
  <label for="name">Name: </label>
  <input id="name" name="var_name[name]" value="{{var_name.name}}" />
  <input type="submit" value="Update" />
</form>