<h1>{{crud_user.name}} 
  <a href="/crud/user/{{crud_user.id}}/edit">Edit</a> 
</h1>

<p><b>Name: </b>{{crud_user.displayName}}</p>

{{#if hasMessages}}
  <ul id="messages">
    {{#each msg in messages}}
      <li>{{msg}}</li>
    {{/each}}
  </ul>
{{/if}}
